node_modules
.git
src
.vscode
.DS_Store
npm-debug.log
pnpm-debug.log
coverage
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.nyc_output
coverage
dist
build
.next
.vercel
.turbo
